streamlit
langchain==0.3.27
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
langchain-chroma
langchain-text-splitters
chromadb
sentence-transformers
pypdf
python-dotenv
huggingface-hub>=0.27.0
langchain-groq
protobuf<5.0.0
