streamlit
langchain-google-genai
langchain
langchain-community
langchain-text-splitters
chromadb
sentence-transformers
pypdf
python-dotenv
google-generativeai
importlib-metadata
langchain-huggingface
langchain-chroma
